{% capture listItems %}

{%- assign allItems = collections -%}{%- assign allItems = allItems | sort: 'title' -%}
{%- for item in allItems -%}
                <div role="listitem" class="collection-item-5 w-dyn-item">
                <a href="{{ item.url }}" class="link-block shop _1 w-inline-block">
                  <div option:color="Category Text Color" class="nav-link shop">{{ item.title }}</div>
                </a>
              </div>
{%- endfor -%}

{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="collection-list-wrapper-5 w-dyn-list" udy-collection="collection">
            {%- unless items_length == 0 -%}<div role="list" class="w-dyn-items">
              {{ listItems }}
            </div>{%- endunless -%}
            {%- if items_length == 0 -%}<div class="w-dyn-empty">
              <div>No items found.</div>
            </div>{%- endif -%}
          </div>