<a href="{{ routes.root_url }}" style="color: {{ section.settings.text-color }}; background-color: {{ section.settings.bg-color }};" class="btn small center w-button">{{ 'tnc0d2788' | t }}</a>

        
{% schema %}
{
  "name": "Back Home Button",
  "tag": "div",
  "settings": [
   {
      "type": "color",
      "id": "bg-color",
      "label": "Background Color",
      "default": "#000"
    },
     {
      "type": "color",
      "id": "text-color",
      "label": "Text Color",
      "default": "#FFF"
    }
  ]
}
{% endschema %}